/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::::::: button :::::::::: */

button {
  -moz-appearance: none;
  margin: 1px 8px 2px 0px;
  min-width: 6.3em;
  background: linear-gradient(rgb(50,50,50),rgb(20,20,20));
  background-clip: padding-box;
  border-radius: 0px;
  border: 1px solid;
  border-color: #080808;
  box-shadow: 0px 1px 0 0 rgba(5, 5, 5, .05);
  color: #fafafa;
  -moz-padding-start: 8px;
  -moz-padding-end: 8px;
}

button:not([disabled="true"]):hover {
  background: linear-gradient(rgb(50,50,50),rgb(20,20,20));
  border-color: #3699FF;
  box-shadow: 0 0 0 2px rgba(54, 153, 255, .15);
  color: #fafafa;
}

button:not([disabled="true"]):hover:active,
button[open="true"],
button[checked="true"] {
  background: linear-gradient(rgb(50,50,50),rgb(20,20,20));
  border-color: #111111;
  box-shadow: 0 1px 1px 0px #151515 inset;
  text-shadow: none;
  color: #aaaaaa;
}

.button-box {
  border: 1px solid transparent;
  padding-top: 2px;
  padding-bottom: 3px;
  -moz-padding-start: 3px;
  -moz-padding-end: 4px;
}

.button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

button:-moz-focusring {
  background: linear-gradient(rgb(50,50,50),rgb(20,20,20));
  border-color: #3699FF;
  box-shadow: 0 0 0 1px rgba(54, 153, 255, .15);
}

/* .......... default state .......... */

button[default="true"]:not([disabled="true"]):hover {
  border: 1px solid;
  border-color: #3699FF;
}

button[default="true"]:not([disabled="true"]):hover:active,
button[default="true"][open="true"],
button[default="true"][checked="true"] {
  border: 1px solid;
  border-color: #A3A3A3;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  background: #F6F6F6;
  border-color: #D4D4D4;
  color: #666666;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  margin: 0;
  border: none;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: none !important;
  margin: 1px;
  background-color: transparent;
  border: none;
  width: 12px;
  height: 12px;
  list-style-image: url("chrome://global/skin/icons/tb_dropdown.png");
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

button[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
  min-width: 0px !important;
  background-color: transparent;
}

button[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

/*
 * GNOME Stock Icon Styles
 */

button[icon="accept"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-ok?size=button");
}

button[icon="accept"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-ok?size=button&state=disabled");
}

button[icon="cancel"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-cancel?size=button");
}

button[icon="cancel"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-cancel?size=button&state=disabled");
}

button[icon="help"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-help?size=button");
}

button[icon="help"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-help?size=button&state=disabled");
}

button[icon="open"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-open?size=button");
}

button[icon="open"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-open?size=button&state=disabled");
}

button[icon="save"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-save?size=button");
}

button[icon="save"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-save?size=button&state=disabled");
}

button[icon="find"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-find?size=button");
}

button[icon="find"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-find?size=button&state=disabled");
}

button[icon="clear"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-clear?size=button");
}

button[icon="clear"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-clear?size=button&state=disabled");
}

button[icon="yes"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-yes?size=button");
}

button[icon="yes"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-yes?size=button&state=disabled");
}

button[icon="no"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-no?size=button");
}

button[icon="no"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-no?size=button&state=disabled");
}

button[icon="apply"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-apply?size=button");
}

button[icon="apply"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-apply?size=button&state=disabled");
}

button[icon="close"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-close?size=button");
}

button[icon="close"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-close?size=button&state=disabled");
}

button[icon="print"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-print?size=button");
}

button[icon="print"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-print?size=button&state=disabled");
}

button[icon="add"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-add?size=button");
}

button[icon="add"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-add?size=button&state=disabled");
}

button[icon="remove"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-remove?size=button");
}

button[icon="remove"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-remove?size=button&state=disabled");
}

button[icon="refresh"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=button");
}

button[icon="refresh"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-refresh?size=button&state=disabled");
}

button[icon="revert"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-revert-to-saved?size=button");
}

button[icon="revert"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-revert-to-saved?size=button&state=disabled");
}

button[icon="go-forward"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=button");
}

button[icon="go-forward"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=button&state=disabled");
}

button[icon="go-forward"]:-moz-locale-dir(rtl) .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=button");
}

button[icon="go-forward"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=button&state=disabled");
}

button[icon="go-back"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=button");
}

button[icon="go-back"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=button&state=disabled");
}

button[icon="go-back"]:-moz-locale-dir(rtl) .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=button");
}

button[icon="go-back"]:-moz-locale-dir(rtl)[disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=button&state=disabled");
}

button[icon="properties"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-properties?size=button");
}

button[icon="properties"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-properties?size=button&state=disabled");
}

button[icon="select-font"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-select-font?size=button");
}

button[icon="select-font"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-select-font?size=button&state=disabled");
}

button[icon="select-color"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-color-picker?size=button");
}

button[icon="select-color"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-color-picker?size=button&state=disabled");
}

button[icon="network"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-network?size=button");
}

button[icon="network"][disabled="true"] .button-icon {
  list-style-image: url("moz-icon://stock/gtk-network?size=button&state=disabled");
}
